<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <h5>{{ 'footer.brand' |  translate }}</h5>
        <hr class="light">
        <p>T 82-2-2628-0700</p>
        <p>http://www.genesis.co.kr</p>
        <p>{{ 'footer.address1' |  translate }}</p>
        <p>{{ 'footer.address2' |  translate }}</p>
      </div>
      <div class="col-md-4">
        <h5>Our Hours</h5>
        <hr class="light">
        <p>Weekday: 9am - 6pm</p>
        <p>Saturday: closed</p>
        <p>Sunday: closed</p>
      </div>
      <div class="col-md-4">
        <h5>{{ 'footer.family.site' |  translate }}</h5>
        <hr class="light">
        <p>{{ 'footer.family.site1' |  translate }}</p>
        <p>{{ 'footer.family.site2' |  translate }}</p>
        <p>BC Card</p>
        <p>Hana Tour</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; Genesis Technologies</h5>
      </div>
    </div>
  </div>
</footer>