<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <h3>제니시스 기술</h3>
        <hr class="light">
        <p>T 82-2-2628-0700</p>
        <p>http://www.genesis.co.kr</p>
        <p>6F E&C Dream Tower, 146, Seonyu-ro,</p>
        <p>Yeongdeungpo-gu Seoul, 07255, Korea</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Our Hours</h5>
        <hr class="light">
        <p>Weekday: 9am - 6pm</p>
        <p>Saturday: closed</p>
        <p>Sunday: closed</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Famliy Size</h5>
        <hr class="light">
        <p>CA Technologies</p>
        <p>Shinsegae Inc</p>
        <p>BC Card</p>
        <p>Hana Tour</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; Genesis Technologies</h5>
      </div>
    </div>
  </div>
</footer>