<app-header></app-header>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('assets/img/clean/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>질문 및 답변</h1>
          <span class="subheading">궁금한 사항에 대해서 질문하시기 바랍니다.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container padding">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-12">

      <!-- Title -->
      <h1 class="mt-4">{{topic_data.title}}</h1>

      <!-- Author -->
      <p class="lead">
        작성자 :
        {{topic_user.username}}
      </p>

      <hr>

      <!-- Date/Time -->
      <p class="lead">작성일 : {{topic_data.createdDate}}</p>

      <hr>

      <!-- Post Content -->
      <div class="container myContent" [innerHTML]="topic_data.content"></div>

      <hr>

      <!--- file attach -->
      <blockquote class="blockquote">
        <p>첨부 파일:</p>
        <p class="blockquote-footer" *ngFor="let attach_file of topic_attach_file">
          <button class="btn btn-outline-secondary" (click)="downloadFile(attach_file)">{{attach_file.fileName}}</button> 
        </p>
    
      </blockquote>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">답변 달기:</h5>
        <div class="card-body">
          <form id="qnaAnswerForm"[formGroup]="registerForm" (ngSubmit)="onSubmit(topic_data.id)">
            <div class="form-group">
              <ckeditor  formControlName="content"></ckeditor>
            </div>
            <button type="submit" class="btn btn-primary">작성</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div class="media mb-4" *ngFor="let answers of topic_answers">
        <div class="media-body">
          <h5 class="mt-0">{{answers.user.username}}
            <span>{{answers.createdDate}}</span>
          </h5>
          <div [innerHTML]="answers.content"></div>
          <button type="button" class="btn btn-sm btn-outline-secondary " (click)="removeAnswer(answers.id)" *ngIf="current_user.id == answers.user.id ||  current_user_role == 'portaladministrators'">삭제</button> 
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<div class="container padding">
  <div class="row padding">
    <!-- Post Content Column -->
    <div class="col-lg-12 text-right c-list padding">
        <button class="btn btn-outline-primary btn-lg" (click)="deleteQna()" *ngIf="current_user.id == topic_user.id ||  current_user_role == 'portaladministrators'">삭 제</button>
        <a routerLink="/forum/qna" class="btn btn-outline-secondary btn-lg">목 록</a>
    </div>
  </div>
</div>