<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/clean/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>질문 글 쓰기</h1>
          <span class="subheading">궁금한 점을 작성 하시기 바랍니다. WYSINWYG 형태로 다양하게 작성할 수 있습니다.</span>
          
        </div>
      </div>
    </div>
  </div>
</header>

    <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-lg-12">
          <form name="sentMessage" id="qnaForm" novalidate="novalidate" [formGroup]="registerForm" (ngSubmit)="onSubmit(fileInput.files)">
            
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>제목</label>
                <input class="form-control" id="phone" type="text" placeholder="Title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">제목을 입력하시요.</div>
                </div>

              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>본문</label>
                <ckeditor  formControlName="content"></ckeditor>
              </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>첨부파일</label>
                    <input type="file" class="form-control" (change)="onFileChange(fileInput.files)" #fileInput />
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button class="btn btn-primary btn-xl" id="sendMessageButton" [disabled]="!registerForm.valid">등록</button>
              <button class="btn btn-outline-secondary btn-xl" id="bakckButton" (click)="onBack()">취소</button>
            </div>
          </form>
        </div>
      </div>
          
    </div>