<!-- Page Content -->
<div class="container padding">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-12">
      <!-- Post Content -->
      <div class="container" [innerHTML]="topic_data.content"></div>
    </div>
  </div>
  <!-- /.row -->
</div>
  <!-- /.container -->

  <div class="container padding">
    <div class="row padding">
      <!-- Post Content Column -->
      <div class="col-lg-12 text-right c-list padding">
          <button class="btn btn-outline-primary btn-lg" (click)="deleteDocument()">삭 제</button>
          <a routerLink="/home" class="btn btn-outline-secondary btn-lg">Home</a>
      </div>
    </div>
  </div>

