<app-header></app-header>
<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/clean/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>안내</h1>
          <span class="subheading">포탈 소개</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Page Content -->
<div class="container padding">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-12">
      <!-- Post Content -->
      <div class="container" [innerHTML]="topic_data.content"></div>
    </div>
  </div>
  <!-- /.row -->
</div>
  <!-- /.container -->

  <div class="container padding">
    <div class="row padding">
      <!-- Post Content Column -->
      <div class="col-lg-12 text-right c-list padding">
          <button class="btn btn-outline-primary btn-lg" (click)="deleteDocument()">삭 제</button>
          <a routerLink="/home" class="btn btn-outline-secondary btn-lg">Home</a>
      </div>
    </div>
  </div>

