<app-header></app-header>
<!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Genesis Technologies API 개발자 포털</h1>
            <span class="subheading">API를 통해 비즈니스를 주도하는 앱을 제작하시기 바랍니다.</span>
            <br>
            <button type="button" class="btn btn-outline-light btn-lg">API 보기</button>
            <a routerLink="/forum/document/detail/overview" class="btn btn-primary btn-lg">시작하기</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <a routerLink="/forum/document/detail/member-announce">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-user-plus m-auto text-primary"></i>
              </div>
              <h3>회원가입 안내</h3>
              <p class="lead mb-0">다양한 서비스를 활용하기 위해서는 회원가입이 필요합니다.</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a routerLink="/forum/document/detail/api-announce">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="fas fa-book-reader m-auto text-primary"></i>
            </div>
            <h3>API사용안내</h3>
            <p class="lead mb-0">API를 사용하기 위한 방법을 확인하시기 바랍니다.</p>
          </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a routerLink="/forum/qna">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="fas fa-comments m-auto text-primary"></i>
            </div>
            <h3>커뮤니티</h3>
            <p class="lead mb-0">커뮤니티를 통해 다양한 궁금즘을 해결하시기 바랍니다.</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/landing/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>API 키 가져 오기</h2>
          <p class="lead mb-0">API 키를 얻으려면 응용 프로그램을 포털에 추가하십시오. 포털은 등록 된 각 응용 프로그램에 고유 한 API 키를 할당합니다. API에 액세스하려면 API 키가 필요합니다. 또한 API 탐색기에서 API를 테스트하려면 API 키가 있어야합니다.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".video-modal">상세보기</button>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/landing/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>API 테스트</h2>
          <p class="lead mb-0">API 탐색기를 사용하면 거칠거나 wadl 파일이있는 API와 상호 작용할 수 있습니다. 또한 API와 상호 작용하려면 응용 프로그램의 API 키가 필요합니다.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".video-modal">상세보기</button>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/landing/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>보고서 생성</h2>
          <p class="lead mb-0">API의 사용 및 대기 시간을 모니터링하려면 포털의 실시간 분석을 사용하십시오. API 및 애플리케이션의 트래픽 추세를 빠르게 시각화합니다. 조직의 할당량 사용량을 추적합니다. 개발자는 조직 고유의 정보에만 액세스 할 수 있습니다.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".video-modal">상세보기</button>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
  
  <!--- Video Modal -->
  <!-- Large modal -->
  
  <div class="modal fade video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        ...
      </div>
     </div>
  </div>