/* You can add global styles to this file, and also import other style files */

/* nanum-gothic-regular - korean_latin */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/nanum-gothic-v11-korean_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic'),
         url('./assets/fonts/nanum-gothic-v11-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
  }
  /* nanum-gothic-700 - korean_latin */
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/nanum-gothic-v11-korean_latin-700.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
         url('./assets/fonts/nanum-gothic-v11-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-700.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
  }
  /* nanum-gothic-800 - korean_latin */
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/nanum-gothic-v11-korean_latin-800.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
         url('./assets/fonts/nanum-gothic-v11-korean_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-800.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/nanum-gothic-v11-korean_latin-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
  }

  body {
    font-family: 'Nanum Gothic', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  p {
    line-height: 1.5;
    margin: 30px 0;
  }
  
  p a {
    text-decoration: underline;
  }
  
  a {
    color: #212529;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  a:focus, a:hover {
    color: #0085A1;
    text-decoration: none;
  }
  
  blockquote {
    font-style: italic;
    color: #868e96;
  }
  
  .section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
  }
  
  .caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .loader-overlay {
    position: absolute;
    width: 100%;
    z-index: 500000;
    top: 0;
  }
  .loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
  }
  .loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: red;
    animation: loading 2s linear infinite;
  }
  @keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% {left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
  }

  @-webkit-keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
  @-moz-keyframes spin{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}
  @keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
  .spinner {
    height: 15rem;
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
  .spinner div:first-child{display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;box-shadow:0 3px 3px 0 rgba(255,56,106,1);transform:translate3d(0,0,0);animation:spin 2s linear infinite}  
  .spinner div:first-child:after,.spinner div:first-child:before{
    content:'';position:absolute;border-radius:50%
  }  
  .spinner div:first-child:before{
    top:5px;left:5px;right:5px;bottom:5px;box-shadow:0 3px 3px 0 rgb(255, 228, 32);-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}  
  .spinner div:first-child:after{
    top:15px;left:15px;right:15px;bottom:15px;box-shadow:0 3px 3px 0 rgba(61, 175, 255,1);animation:spin 1.5s linear infinite
  }

/*
  Extra small (xs) devices (portrait phones, less than 567px)
  No media query since this is the default in Bootstrap

  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }

  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }

  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }

  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  */
